@using Highbrow.HiPower.Models;
@model CompanyProfile;
@{
	string view = ViewData["form_class"].ToString();
}

@using (Html.BeginForm(view, "CompanyProfile", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "form_CompanyProfile" }))
{
	<div class="col-12 col-md-9 col-lg-8">
		<div class="form-group">
			<label class="form-label" for="CompanyName">Name *</label>
			<span class="desc"></span>
			<div class="controls">
				@Html.EditorFor(m => m.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Company Name", type = "text" } })
			</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="CompanyAddress">Address *</label>
			<span class="desc"></span>
			<div class="controls">
				@Html.TextAreaFor(m => m.CompanyAddress, new { @class = "form-control autogrow", placeholder = "Enter Company Address", rows = 5 })
			</div>
		</div>

		<div class="form-group">
			<label class="form-label" for="Phone">Phone *</label>
			<span class="desc"></span>
			<div class="controls">
				@Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Phone Number", type = "number" } })
			</div>
		</div>

		<div class="form-group">
			<label class="form-label" for="PFNumber">PF No *</label>
			<span class="desc"></span>
			<div class="controls">
				@Html.EditorFor(m => m.PFNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter PFNumber", type = "text" } })
			</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="companyLogo">Logo *</label>
			<span class="desc"></span>
			<div class="controls">
				@*@Html.EditorFor(m => m.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "Logo", type = "file" } })*@
				<input class="form-control text-box single-line" id="companyLogo" name="companyLogo" placeholder="Logo" type="file">

			</div>
		</div>
		<div class="form-group">
			<div class="form-check">
				@*<input class="form-check-input" type="checkbox" name="TermsOfService" id="TermsOfService">*@
				@Html.CheckBoxFor(m => m.TermsOfService, new { @class = "skin-flat-blue" })
				<label for="TermsOfService">I have read and hereby accept the <a href="javascript:;" onclick="newWindow('/companies/terms')">Terms of Service</a></label>
			</div>
		</div>
		<div class="form-group">
			<div class="form-check">
				@*<input class="form-check-input" type="checkbox" name="PrivacyPolicy" id="PrivacyPolicy">*@
				@Html.CheckBoxFor(m => m.PrivacyPolicy, new { @class = "skin-flat-blue" })
				<label for="PrivacyPolicy">I have read the <a href="javascript:;" onclick="newWindow('/companies/policy')">Privacy Policy</a></label>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
		<div class="text-left">
			<input type="submit" value="Save" class="btn btn-primary">
			@if (view == "Add")
			{

				<input type="reset" class="btn" value="Cancel" />

			}
			else if (view == "Update")
			{
				<a href="@Url.Action("Details", "CompanyProfile")">
					<div type="button" class="btn">Cancel</div>
				</a>
			}

		</div>
	</div>
	@*</form>*@
}


	