<!-- SIDEBAR - START -->

<div class="page-sidebar  @(" " + (ViewData["mainmenu_scroll"] == "fixedscroll" ? @ViewData["mainmenu_scroll"] : "pagescroll" )) @ViewData["pagesidebar_class"]" ">

	<!-- MAIN MENU - START -->
	<div class="page-sidebar-wrapper" id="main-menu-wrapper">

		<!-- USER INFO - START -->
		<div class="profile-info row">

			<div class="profile-image col-4">
				<a href="ui-profile.html">
					<img alt="" src="/data/profile/profile.jpg" class="img-fluid rounded-circle">
				</a>
			</div>

			<div class="profile-details col-8">

				<h3>
					<a href="ui-profile.html">Admin</a>

					<!-- Available statuses: online, idle, busy, away and offline -->
					<span class="profile-status online"></span>
				</h3>

				<p class="profile-title">Admin</p>
			</div>
		</div>
		<!-- USER INFO - END -->

		<div id="accordion" role="tablist" class="accordion-group accordion">
			<ul class="wraplist" style="height: auto;">
				<li class="menusection collapsed" data-toggle="collapse" href="#nav_hrms" role="button" aria-expanded="false" aria-controls="nav_hrms">HRMS</li>
				<li>
					<ul id="nav_hrms" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
						<li class="">
							<a href="/home">
								<i class="fa fa-dashboard"></i>
								<span class="title">Home</span>
							</a>
						</li>
						<li class="">
							<a href="/dashboard">
								<i class="fa fa-line-chart"></i>
								<span class="title">Dashboard</span>
							</a>
						</li>
						<li class="">
							<a href="/attendances/logs">
								<i class="fa fa-calendar-o"></i>
								<span class="title">Attendance Log</span>
							</a>
						</li>
						<li class="">
							<a href="/spotlights">
								<i class="fa fa-photo"></i>
								<span class="title">Spotlights</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menusection collapsed" data-toggle="collapse" href="#nav_settings" role="button" aria-expanded="false" aria-controls="nav_settings">Settings</li>
				<li>
					<ul id="nav_settings" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">

						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "CompanyProfile" ? "open" : "" )">
							<a href="@Url.Action("Details", "CompanyProfile")">
								<i class="fa fa-th-large"></i>
								<span class="title">Company Profile</span>
							</a>
						</li>
						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "Department" ? "open" : "" )">
							<a href="@Url.Action("List", "Department")">
								<i class="fa fa-building"></i>
								<span class="title">Departments</span>
							</a>
						</li>
						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "Designation" ? "open" : "" )">
							<a href="@Url.Action("List", "Designation")">
								<i class="fa fa-sitemap"></i>
								<span class="title">Designations</span>
							</a>
						</li>
						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "Holiday" ? "open" : "" )">
							<a href="@Url.Action("List", "Holiday")">
								<i class="fa fa-thumb-tack"></i>
								<span class="title">Holidays</span>
							</a>
						</li>
						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "Shift" ? "open" : "" )">
							<a href="@Url.Action("List", "Shift")">
								<i class="fa fa-clock-o"></i>
								<span class="title">Shifts</span>
							</a>
						</li>
						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "WFH" ? "open" : "" )">
							<a href="@Url.Action("List", "WFH")">
								<i class="fa fa-th-list"></i>
								<span class="title">WFH Days</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menusection collapsed" data-toggle="collapse" href="#nav_leave_master" role="button" aria-expanded="false" aria-controls="nav_leave_master">Leave Master</li>
				<li>
					<ul id="nav_leave_master" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "LeaveType" ? "open" : "" )">
							<a href="@Url.Action("List", "LeaveType")">
								<i class="fa fa-file-text"></i>
								<span class="title">Leave Types</span>
							</a>
						</li>
						<li class="@("" + (ViewContext.RouteData.Values["controller"]) == "LeaveProfile" ? "open" : "" )">
							<a href="@Url.Action("List", "LeaveProfile")">
								<i class="fa fa-copy"></i>
								<span class="title">Leave Profiles</span>
							</a>
						</li>
					</ul>
				</li>
				@*<li class="menusection collapsed" data-toggle="collapse" href="#nav_employee_master" role="button" aria-expanded="false" aria-controls="nav_employee_master">Employee Master</li>
					<li>
						<ul id="nav_employee_master" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<li class="">
								<a href="/employees?q%5Bstatus_eq%5D=Active&amp;view=list">
									<i class="fa fa-users"></i>
									<span class="title">Employees</span>
								</a>
							</li>
							<li class="">
								<a href="/employee_leave_balances?q%5Bleave_year_eq%5D=2020">
									<i class="fa fa-sliders"></i>
									<span class="title">Leave Balances</span>
								</a>
							</li>
							<li class="">
								<a href="/attendances/sync">
									<i class="fa fa-refresh"></i>
									<span class="title">Sync Biometric</span>
								</a>
							</li>
							<li class="">
								<a href="/attendances">
									<i class="fa fa-calendar"></i>
									<span class="title">Add Attendances</span>
								</a>
							</li>
							<li class="">
								<a href="/exit_dept_maps">
									<i class="fa fa-share-alt"></i>
									<span class="title">Dept Mapping</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menusection collapsed" data-toggle="collapse" href="#nav_approvals" role="button" aria-expanded="false" aria-controls="nav_approvals">Approvals</li>
					<li>
						<ul id="nav_approvals" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<li class="">
								<a href="/workfromhomes/index_all?q%5Bstatus_eq%5D=Pending+Approval">
									<i class="fa fa-home"></i>
									<span class="title">WFH</span>
								</a>
							</li>
							<li class="">
								<a href="/leaves/index_all">
									<i class="fa fa-suitcase"></i>
									<span class="title">Leaves</span>
									<span class="badge badge-accent">1</span>
								</a>
							</li>
							<li class="">
								<a href="/compensatory_offs/index_all">
									<i class="fa fa-history"></i>
									<span class="title">Comp Offs</span>
								</a>
							</li>
							<li class="">
								<a href="/on_duties/index_all?q%5Bstatus_eq%5D=Pending+Approval">
									<i class="fa fa-rocket"></i>
									<span class="title">On Duties</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menusection collapsed" data-toggle="collapse" href="#nav_payroll_master" role="button" aria-expanded="false" aria-controls="nav_payroll_master">Payroll Master</li>
					<li>
						<ul id="nav_payroll_master" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<li class="">
								<a href="/salary_components">
									<i class="fa fa-cubes"></i>
									<span class="title">Salary Components</span>
								</a>
							</li>
							<li class="">
								<a href="/salary_structures">
									<i class="fa fa-tags"></i>
									<span class="title">Salary Structures</span>
								</a>
							</li>
							<li class="">
								<a href="/payslips/new">
									<i class="fa fa-gears"></i>
									<span class="title">Process Payroll</span>
								</a>
							</li>
							<li class="">
								<a href="/payslips?q%5Byear_eq%5D=2020">
									<i class="fa fa-money"></i>
									<span class="title">Payslips</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menusection collapsed" data-toggle="collapse" href="#nav_recruitment" role="button" aria-expanded="false" aria-controls="nav_recruitment">Recruitment</li>
					<li>
						<ul id="nav_recruitment" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<li class="">
								<a href="/candidates">
									<i class="fa fa-graduation-cap"></i>
									<span class="title">Candidates</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menusection collapsed" data-toggle="collapse" href="#nav_employee_exit" role="button" aria-expanded="false" aria-controls="nav_employee_exit">Employee Exit</li>
					<li>
						<ul id="nav_employee_exit" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<li class="">
								<a href="/employees/index_exit">
									<i class="fa fa-group"></i>
									<span class="title">Exit Employees</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menusection collapsed" data-toggle="collapse" href="#nav_reports" role="button" aria-expanded="false" aria-controls="nav_reports">Reports</li>
					<li>
						<ul id="nav_reports" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<li>
								<a href="/employees.xls">
									<i class="fa fa-users"></i>
									<span class="title">Employees (xls)</span>
								</a>
							</li>
							<li class="">
								<a href="/attendances/logs_report">
									<i class="fa fa-calendar-o"></i>
									<span class="title">Attendance Logs</span>
								</a>
							</li>
							<li class="">
								<a href="/attendances/remote_attendances_report">
									<i class="fa fa-clock-o"></i>
									<span class="title">Remote Attendances</span>
								</a>
							</li>
							<li class="">
								<a href="/attendances/service_details_report">
									<i class="fa fa-code-fork"></i>
									<span class="title">Service Details</span>
								</a>
							</li>
							<li>
								<a href="/attendances.xls">
									<i class="fa fa-calendar"></i>
									<span class="title">Biometric Attendances (xls)</span>
								</a>
							</li>
							<li>
								<a href="/employee_leave_balances.xls">
									<i class="fa fa-sliders"></i>
									<span class="title">Leave Balances (xls)</span>
								</a>
							</li>
							<li>
								<a href="/leaves/index_all.xls">
									<i class="fa fa-suitcase"></i>
									<span class="title">Leaves (xls)</span>
								</a>
							</li>
							<li>
								<a href="/compensatory_offs/index_all.xls">
									<i class="fa fa-history"></i>
									<span class="title">Comp-Offs (xls)</span>
								</a>
							</li>
							<li>
								<a href="/workfromhomes/index_all.xls">
									<i class="fa fa-home"></i>
									<span class="title">WFH (xls)</span>
								</a>
							</li>
							<li>
								<a href="/on_duties/index_all.xls">
									<i class="fa fa-rocket"></i>
									<span class="title">On Duties (xls)</span>
								</a>
							</li>
							<li>
								<a href="/salary_structures/salary_report.xlsx">
									<i class="fa fa-money"></i>
									<span class="title">Salary Details (xls)</span>
								</a>
							</li>
						</ul>
					</li>*@
			</ul>
		</div>
	</div>
	<!-- MAIN MENU - END -->
</div>
<!--  SIDEBAR - END -->