@using Highbrow.HiPower.ViewModels.HolidayVM
@model IEnumerable<HolidayListViewModel>

@{ ViewData["Title"] = "Holidays";
	ViewData["body_class"] = "detail_holiday"; }

<!-- MAIN CONTENT AREA STARTS -->
<div class="col-xl-12">
	<section class="box ">
		<header class="panel_header">
			<h2 class="title float-left">Holidays List</h2>
			<div class="actions panel_actions float-right">
				<a href="@Url.Action("Add", "Holiday")">
					<div type="button" class="btn btn-primary btn-sm">Add Holidays</div>
				</a>
				<a href="@Url.Action("BulkUpload", "Holiday")">
					<div type="button" class="btn btn-info btn-sm">Upload Holidays</div>
				</a>
			</div>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-12">
					<div id="portfolio" class="hi-tabs">

						<div class="table-responsive">
							<table class="table table-striped dt-responsive display" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Date</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									@if (Model != null)
									{
										@foreach (var item in Model)
										{
											<tr>
												<td>@item.HolidayName</td>
												<td>@item.HolidayDate</td>
												<td>
													<a class="btn btn-primary btn-xs" title="Edit" href="@Url.Action("Update", "Holiday", new { id = item.Id})">
														<i class="fa fa-edit"></i>
													</a>
													@using (Html.BeginForm("Delete", "Holiday", FormMethod.Post, new { @class = "d-inline", enctype = "multipart/form-data" }))
													{
														<button onclick="return confirm('Are you sure?')" class="btn btn-danger btn-xs" title="Delete" name="id" value="@item.Id">
															<i class="fa fa-trash"></i>
														</button>
													}
												</td>
											</tr>
										}
									}
									else
									{

									}
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- MAIN CONTENT AREA ENDS -->
